.container {
    -ms-flex: 1 0 110px;
    flex: 1 0 110px;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

/*@media only screen and (max-width: 600px) {*/
/*    .container {*/
/*        -ms-flex: 0 0 100px;*/
/*        flex: 0 0 100px*/
/*    }*/
/*}*/