@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Inter-Regular.ttf') format('woff2')
}

:root { /*only dark*/
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 34, 34, 34;
    /*font-family: 'Inter', sans-serif;*/
    font-family: 'Inter';
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
}

a {
    text-decoration: none;
    color: unset;
}

.svg-inline--fa {
    vertical-align: unset !important;
    height: unset !important;
    display: inline-block;
}